* {
	box-sizing: border-box; /* make the total size as specified in height and weight. */
}

body {
	background-color: rgba(124, 78, 145, .7);
	margin: 0;
	padding: 0;
}

.header {
	padding: 8px;
	background: rgba(225, 234, 250);
}


.flex-container {
	display: flex;
}

.flex-container > div {
	width: 33%;
	margin: 20px;
	background-color: rgba(250, 220, 250);
}

#my_title {
	float:right;
	font-size: 80%;
}

.main_div {
	display: flex;
	margin: 15px;
}

.main_div > div {
	width: 50%;
	margin: 20px
}

.main_div img {
	border: 4px solid rgba(250, 220, 250);
	max-width: 80%;
}

#About {
	background-color: rgba(250, 220, 250);
	height: 90%;
}

#About > p {
    padding: 0 10px 15px;
}

#About > a {
	display: block;
	padding: 0 10px;
	margin-bottom: 20px;
}

.photo {
	max-width: 100%;
}

.button {
	background-color: rgba(42, 130, 33);
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 8px 5px;
	text-align: center;
	margin: 0 auto 10px;
	display: block;
}

.footer {
	background-color: white;
	margin: 2px auto;
	padding: 3px 0px 20px 0px;
	text-align: center;
}

.footer img {
	width: 16px;
	vertical-align: top;
}

.footer address {
	padding: 3px;
}

.footer a:link, a:visited {
    color:black;
}

.footer a:hover, a:active {
	color:blue;
}

.social_media {
	margin: 4px;
	padding: 4px;
}

.comment {
	padding: 8px;
	text-align: justify;
	height: 200px;
}

.nav {
	color: white;
	font-weight: bold;
	background:linear-gradient(180deg, darkgray, gray, darkgray);
	padding: 10px;
	margin: 0;
}

.icons_div {
	justify-content: center;
	padding: 3px;
}

.icons_div > img {
	display: inline-block;
	width: 60px;
	margin: 4px;
}

