body {
    font-family: 'Arvo', serif;
    min-height: 100vh;
}

.underlined-text {
    height:10px;
    width:200px;
    margin: auto;
}

.height-80 {
    min-height: 100vh;
}

.about-picture {
    background-image: url("images/sea_view2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.images {
    height: 250px;
    min-width: 100%;
    object-fit: cover;
}

.carousel-images {
    height: 80vh;
    min-width: 100%;
    object-fit: cover;
}

.img-card-size {
    height: 50vh;
}

#filler, #progress {
    background-color: linear-gradient(to right, rgba(25, 20, 20, 0), rgba(0, 0, 0, 255));
    background-image: url("images/city1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blog-underline {
    height: 14px;
    width: 200px;
}

.blog-images {
    height: 40vh;
    min-width: 100%;
    object-fit: cover;
}

.review-image {
    height: 40vh;
    min-width: 50%;
    object-fit: cover;
}
